[submodule "extract/src/github.com/facebookresearch/Clinical-Trial-Parser"]
	path = extract/src/github.com/facebookresearch/Clinical-Trial-Parser
	url = https://github.com/facebookresearch/Clinical-Trial-Parser
